{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title site-title--desktop" href="{{ base_path }}/">{{ site.title }}</a>
        <a class="site-title site-title--mobile" href="{{ base_path }}/">Chhayansh Porwal</a>
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
          {% assign author = site.author %}
          <li class="masthead__menu-item mobile-only-links">
            <button class="btn btn--inverse follow-toggle" type="button">Follow</button>
            <div class="follow-links">
              {% if author.email %}<a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope"></i> Email</a>{% endif %}
              {% if author.github %}<a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github"></i> GitHub</a>{% endif %}
              {% if author.kaggle %}<a href="https://kaggle.com/{{ author.kaggle }}"><i class="fab fa-fw fa-kaggle"></i> Kaggle</a>{% endif %}
              {% if author.linkedin %}<a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin"></i> LinkedIn</a>{% endif %}
              {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter"></i> X</a>{% endif %}
            </div>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
